ConnectionStrings__DefaultConnection=Host=aws-0-eu-west-1.pooler.supabase.com;Port=5432;Database=postgres;Username=postgres.eluknnsedclkmffemmdw;Password=[YOUR-PASSWORD];SSL Mode=Require
ASPNETCORE_URLS=http://localhost:5000
Jwt__Key=[REPLACE-WITH-32+CHAR-RANDOM]
Jwt__Issuer=SkillBridge
Jwt__Audience=SkillBridge.Client
Jwt__ExpiryHours=8
